{{ template "header.html" .}}


<script>
  function pesquisa(txt) {
    //alert(txt);
    $.ajax("/fornecedor/search", {
      processData: true,
      cache: false,
      type: "POST",
      data: JSON.stringify({ nome: txt }),
      contentType: 'application/json',
      dataType: "json",
      success: alert("OK..."),
      error: alert("Erro")
    });

  }
  function create() {
    var nome = $("#nome").val();
    console.log("Criando: "+nome);

    var xhr = new XMLHttpRequest();
    xhr.open("POST","/fornecedor/create");
    xhr.send(JSON.stringify({nome:nome}));
    xhr.onreadystatechange = function(evt){
      if (xhr.readyState === 4){
        var result = JSON.parse(xhr.responseText);
        alert(result);
      }
      
      
    }

  }

  function update() {

  }
  function remove() {

  }
</script>

<form method="post" class="form-control">
  <div class="mb-3">
    <h2>Registrar Novo Fornecedor</h2>
    <p>
      <label for="nome">Id</label>
      <input id="id_fornecedor" name="id_fornecedor" value="{{.fornecedor.ID}}" readonly type="text"
        placeholder="Nome do Fornecedor" class="form-control" />
      <label for="nome">Nome</label>
      <input id="nome" name="nome" value="{{.fornecedor.Nome}}" required="required" type="text"
        placeholder="Nome do Fornecedor" class="form-control" />
    </p>
    <p>
      <input type="button" id="createBtn" onclick="create()" value="Criar" />
      <input type="button" ajax:true onclick="update()" value="Atualizar" />
      <input type="button" ajax:true onclick="remove()" value="Remover" />

    </p>
  </div>
</form>


{{ template "footer.html" .}}