{{ template "header.html" .}}

<script type="text/javascript" src="/static/js/crud.js"></script>

<script>
   function create() {
    var data = { nome: $("#nome").val() };
    createOrUpdate("fornecedor_id", "/fornecedor/create", data);
  }

  function remove() {
    createOrUpdate(" ","/fornecedor/delete",{id:$("#fornecedor_id").val()});
  }

  function update(){
    var data = { nome: $("#nome").val(),id:$("#fornecedor_id").val() };
    createOrUpdate("fornecedor_id","/fornecedor/update",data);
  }

</script>

<form method="post" class="form-control">
  <div class="mb-3">
    <h2>Registrar Novo Fornecedor</h2>
    <p>
      <label for="nome">Id</label>
      <input id="fornecedor_id" name="fornecedor_id" value="{{.fornecedor.ID}}" readonly type="text"
        placeholder="Nome do Fornecedor" class="form-control" />
      <label for="nome">Nome</label>
      <input id="nome" name="nome" value="{{.fornecedor.Nome}}" required="required" type="text"
        placeholder="Nome do Fornecedor" class="form-control" />
    </p>
    <p>
      <input type="button" onclick="create()" value="Criar" />
      <input type="button" onclick="update()" value="Atualizar" />
      
    </p>
  </div>
</form>


{{ template "footer.html" .}}