{{ template "header.html" .}}


<div class="panel">
  <form method="post" action="/fornecedor/search">
    <div class="input-group">
      <div class="input-group mb-3">
        <button type="submit" class="btn btn-outline-primary btn-sm">Pesquisar</button>
        <input type="search" class="form-control" id="nome" name="nome" value="{{.nome}}" required="required" placeholder="Pesquisa">
      </div>
    </div>
  </form>
</div>

<div class="list-group">
  {{range $obj := .lista }}
  <div class="row">
    <div class="col">
      <a id="item" data-bs-toggle="modal" data-bs-target="#janela" data-id="{{$obj.ID}}" data-nome="{{$obj.Nome}}"
        class="list-group-item ">{{$obj.Nome}}</a>
    </div>
    <div class="col">
      <a href="/fornecedor/delete/{{$obj.ID}}" class="form-label">Deletar</a>
    </div>
  </div>
  {{ end }}
</div>
</div>

<!-- Modal Update-->

{{ template "modalHeader.html" .}}
{{ template "modalFornecedor.html" .}}
{{ template "modalFooter.html" .}}



{{ template "footer.html" .}}