{{ template "header.html" .}}


<div class="panel">
  <form method="post" action="/fornecedor/search">
    <div class="input-group">
      <div class="input-group mb-3">
        <button type="submit" class="btn btn-outline-primary btn-sm">Pesquisar</button>
        <input type="search" class="form-control" id="nome" name="nome" value="{{.nome}}" required="required" placeholder="Pesquisa">
      </div>
    </div>
  </form>
</div>

<div class="list-group">
  {{range $obj := .fornecedores }}
  <div class="row">
    <div class="col">
      <a id="item" data-bs-toggle="modal" data-bs-target="#janela" data-id="{{$obj.ID}}" data-nome="{{$obj.Nome}}"
        class="list-group-item ">{{$obj.Nome}}</a>
    </div>
    <div class="col">
      <a href="/fornecedor/delete/{{$obj.ID}}" class="form-label">Deletar</a>
    </div>
  </div>
  {{ end }}
</div>
</div>

<!-- Modal Update-->

{{ template "modalHeader.html" .}}
{{ template "modalFornecedor.html" .}}
{{ template "modalFooter.html" .}}

<nav aria-label="Navegação de página exemplo">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="/fornecedor/find/?limit={{.limit}}&offset=0&nome={{.nome}}">1</a></li>
    <li class="page-item"><a class="page-link" href="/fornecedor/find/?limit={{.limit}}&offset=10&nome={{.nome}}">2</a></li>
    <li class="page-item"><a class="page-link" href="/fornecedor/find/?limit={{.limit}}&offset=20&nome={{.nome}}">3</a></li>
    <li class="page-item"><a class="page-link" href="/fornecedor/find/?limit={{.limit}}&offset={{.offset}}&nome={{.nome}}">Próximo</a></li>
  </ul>
</nav>


{{ template "footer.html" .}}