{{ template "header.html" .}}
</br>
<div class="panel">
  <form method="post" action="/marca/find">
    <div class="input-group">
      <div class="input-group mb-3">
        <button type="submit" class="btn btn-outline-primary btn-sm">Pesquisar</button>
        <input type="search" class="form-control" id="nome" name="nome" value="{{.nome}}" placeholder="Pesquisa">
        <input type="hidden" id="limit" class="form-control" value="{{.limit}}">
        <input type="hidden" id="offset" class="form-control" value="{{.offset}}">
      </div>
    </div>
  </form>
</div>

<div class="list-group">
  {{range $marca := .marcas }}
  <div class="row">
    <div class="col">
      <a id="item" data-bs-toggle="modal" data-bs-target="#janela" data-id="{{$marca.ID}}" data-nome="{{$marca.Nome}}"
        class="list-group-item ">{{$marca.Nome}}</a>
    </div>
    <div class="col">
      <a href="/marca/delete/{{$marca.ID}}" class="form-label">Deletar</a>
    </div>
  </div>
  {{ end }}
</div>
</div>

<!-- Modal Update-->

{{ template "modalHeader.html" .}}
{{ template "marcaForm.html" .}}
{{ template "modalFooter.html" .}}

<nav aria-label="Navegação de página exemplo">
  <ul class="pagination">
    <!-- li class="page-item"><a class="page-link" href="/marca/find/?limit={{.limit}}&offset={{.offset}}&ctrl=prev&nome={{.nome}}">Anterior</a></li -->
    <li class="page-item"><a class="page-link" href="/marca/find/?limit={{.limit}}&offset=0&nome={{.nome}}">1</a></li>
    <li class="page-item"><a class="page-link" href="/marca/find/?limit={{.limit}}&offset=10&nome={{.nome}}">2</a></li>
    <li class="page-item"><a class="page-link" href="/marca/find/?limit={{.limit}}&offset=20&nome={{.nome}}">3</a></li>
    <li class="page-item"><a class="page-link"
        href="/marca/find/?limit={{.limit}}&offset={{.offset}}&nome={{.nome}}">Próximo</a></li>
  </ul>
</nav>


{{ template "footer.html" .}}