<!--menu.html-->

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Marca</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/marca/add">Criar</a></li>
      <li><a class="dropdown-item" href="/marca/master">Pesquisa</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Modelo</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/modelo/add">Criar</a></li>
      <li><a class="dropdown-item" href="/modelo/master">Pesquisa</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Fornecedor</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/fornecedor/form">Editar</a></li>
      <li><a class="dropdown-item" href="/fornecedor/lista">Pesquisa</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
    
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
<p></p>